<h4>Accusoft Cloud Services</h4>

<h2 class="strong">document cloud api</h2>


<div class="gestalt-0 panel panel-body" ng-if="loggedIn" ng-include="'/views/partials/portal/apikey.html'"></div>
		
<div class="row">
	<div class="col-sm-4">
		
		<p>
			Our piis an extensive suite of cloud-based APIs which provide your applications access to advanced document viewing, image compression, 
			document conversion, OCR, and barcode recognition functionality and much more. Explore our feature set below and then sign up for your 
			free account to try out ACS in your own web application. Start quickly with our code samples.
			</p>
			
			<a ng-if="!loggedIn" href="#" class="h4"  ng-click="loginLogout()" ><i class="fa fa-user-plus"></i>&nbsp;create a free account</a>
			<br>
			<a ng-if="!loggedIn" href="#"  ng-click="loginLogout()" >login</a>

		
	</div>
	<div class="col-sm-8">
		
	
		asdf
	</div>
	
	</div>
