<h4 class="trend_sans_oneregular">Accusoft Cloud Services</h4>
<h1>integrations and plugins</h1>

<p class="">
	If you are already using a CMS such as SharePoint, WordPress, Joomla, SugarCRM and Oracle Sales Cloud then you can quickly integrate all the functions of Accusoft Cloud Services. You will need a licensing key to use these plugins in a production environment which you can get here.
</p>

<div class="row">
	<div class="col-sm-1"><span class="h2"><i class="fa fa-windows accent-faded-orange"></i></span></div>
	<div class="col-sm-4"><span class="h3 accent-faded-orange">sharepoint</span></div>
	<div class="col-sm-7"><p>Add document viewing to your SharePoint environment easily with our ACS Viewer. Control who can download and print documents. View dozens of file types including Microsoft Word, Excel, PowerPoint, PDF, CAD, images, and more! </p></div>
	
</div><!-- END... close row -->


<div class="row">
	<div class="col-sm-1"><span class="h2"><i class="fa fa-wordpress"></i></span></div>
	<div class="col-sm-4"><span class="h3 accent-faded-orange">wordpress</span></div>
	<div class="col-sm-7"><p>Add document viewing to your SharePoint environment easily with our ACS Viewer. Control who can download and print documents. View dozens of file types including Microsoft Word, Excel, PowerPoint, PDF, CAD, images, and more! </p></div>
	
</div><!-- END... close row -->


<div class="row">
	<div class="col-sm-1"><span class="h2"><i class="fa fa-joomla"></i></span></div>
	<div class="col-sm-4"><span class="h3">joomla</span></div>
	<div class="col-sm-7"><p>Prizm Viewer is a document viewer that enables you to display hundreds of different kinds of files on your website without worrying about whether your visitors have the software to view them and without installing any additional hardware or software. The document files stay on your server, so you can update, edit and change them anytime. Prizm Viewer supports more than 300 file types, including DOC, PDF, PPT, XLS and CAD. </p></div>
	
</div><!-- END... close row -->

