<ol>
<li><a class="faded-orange" href="https://profiles.wordpress.org/accusoft/#content-plugins" target="_blank">Log into WordPress Admin</a></li>
<li>Click on Plugins menu, click Add New</li>
<li>Click Upload (right under title next to ‘Search’ and ‘Featured’)</li>
<li>Choose the prizmcloud.zip and click Install Now</li>
<li>Click on Installed Plugins</li>
<li>Click Activate under the Prizm Viewer</li>
<li><strong class="accent-faded-orange">login or create an account</strong>Go to&nbsp;<a class="faded-orange" href="https://accusoft.com/portal/">https://accusoft.com/portal</a>.</li>
</ol>