<body>
    <div id="BeforeHeaderContent">
        
    </div>
    <div id="HeaderContent">
        <!--DXMETADATA start type="Literal" condition="communityenabled" value="%%scrap:name=_COMMUNITY_RATING%%" --><!--DXMETADATA end -->
            <!--DXMETADATA start type="LogoImage" --><img class="logoimage" src="images/AccusoftLogoColor2015.png" border="0"><!--DXMETADATA end-->
            <div id="ProjectTitle"><!--DXMETADATA start type="ProjectTitle" -->Accusoft Cloud Services, powered by Prizm Content Connect<!--DXMETADATA end--></div>
        <div id="PageTitle"><div id="PageTitleText"><!--DXMETADATA start type="ItemTitle" -->Customization Overview<!--DXMETADATA end--></div></div>
    </div>
    <div id="AfterHeaderContent">
        <!-- Spacing --> <span id="ToggleAllSectionsLink" class="FunctionLink">
                <label id="CollapseAllLabel"><!--DXMETADATA start type="Phrase" name="COLLAPSE_ALL" -->Collapse All<!--DXMETADATA end--></label>
                <label id="ExpandAllLabel" style="display: none;"><!--DXMETADATA start type="Phrase" name="EXPAND_ALL" -->Expand All<!--DXMETADATA end--></label>
            </span><!--DXMETADATA start type="Literal" condition="communityenabled" value="%%scrap:name=_COMMUNITY_DROPDOWN%%" --><!--DXMETADATA end -->
    </div>
    <!--DXMETADATA start type="Breadcrumbs" scrap="_BREADCRUMBS" --><div class="BreadcrumbsContainer"><table><tbody><tr><td>
<a href="Working with the HTML5 Viewer.html">HTML5 Viewer</a>
 &gt; <a href="Customizing the Viewer.html">Customizing the Viewer</a>
 &gt; Customization Overview</td></tr></tbody></table></div><!--DXMETADATA end -->
    
    
    <div id="BodyContent">
        <!--DXMETADATA start type="TopicSection" name="BodyText"--><p>The&nbsp;Viewer offers several ways to customize&nbsp;the Viewer, from quick integrations with minimal configuration to complete control over the Viewer API. Tabs and basic DRM functions such as printing, text selection, and document download can be quickly hidden using configuration parameters.</p>

<p>It's very simple to reorganize menus, add/remove tabs, and customize the look of&nbsp;the Viewer by allowing the developer to edit markup and css. All viewer functionality is built on top of the Viewer API, allowing complete control over all viewer functions.</p>

<h2><a id="h.k1y6mgkabae8" name="h.k1y6mgkabae8"></a>Configuration Options</h2>

<p>The Viewer UI and behavior can be configured when&nbsp;the Viewer is embedded; using JavaScript parameters you can set the following:</p>

<ul>
    <li>Displaying/Hiding Tabs and DRM functions</li>

    <li>Enabling Content Encryption</li>

    <li>Using a Custom Resource Path</li>

    <li>Localizing the Viewer</li>

    <li>How to use&nbsp;Predefined Search</li>

    <li>Digital Rights Management Configuration</li>
</ul>

<h2><a id="h.rcyyyeb4aoex" name="h.rcyyyeb4aoex"></a>Customizing Markup and Styles</h2>

<p>If&nbsp;the Viewer needs to be customized more than configuration options allow, all UI code is open-source and can be modified to change the following:</p>

<ul>
    <li>Reorganizing Menus</li>

    <li>Creating a Custom Tab</li>

    <li>Changing the position of the menu bar</li>

    <li>Customizing Styles (css)</li>
</ul>

<h2><a id="h.hjt9eeuk0zuh" name="h.hjt9eeuk0zuh"></a>Viewer API</h2>

<p>The&nbsp;Viewer API permits programmatic control over&nbsp;the Viewer. The API allows callers to augment, customize, or automate the end user’s experience with&nbsp;the Viewer. Functionality that is exposed through&nbsp;the Viewer API includes:</p>

<ul>
    <li>Creating and destroying the viewer</li>

    <li>Events</li>

    <li>Page navigation</li>

    <li>Zooming and fitting content</li>

    <li>Mark ( redaction) CRUD</li>

    <li>Markup saving and loading</li>

    <li>Customizing mouse tools</li>

    <li>Searching document text</li>

    <li>Printing</li>

    <li>Getting page and document attributes</li>
</ul>

<ul class="minitocwidget">
    <li><a href="Customizing Markup and Styles Examples.html">Customization Examples</a></li>

    <li style="list-style: none; display: inline">
        <ul>
            <li><a href="Adding a Custom Button.html">Adding a Custom Button</a></li>

            <li><a href="Adding Keyboard Shortcuts.html">Adding Keyboard Shortcuts</a></li>

            <li><a href="Building a Custom User Interface.html">Building a Custom User Interface</a></li>

            <li><a href="Changing the Position of the Menu Bar.html">Changing the Position of the Menu Bar</a></li>

            <li><a href="Creating a Custom Mouse Tool.html">Creating a Custom Mouse Tool</a></li>

            <li><a href="Creating a Custom Tab.html">Creating a Custom Tab</a></li>

            <li><a href="Customizing the Markup.html">Customizing the Markup</a></li>

            <li><a href="CSS plus Images_Customizing the Styles.html">Customizing the Styles</a></li>

            <li><a href="Defining the View Mode.html">Defining the View Mode</a></li>

            <li><a href="Programmatically Scrolling the Viewer.html">Programmatically Scrolling the Viewer</a></li>

            <li><a href="Reorganizing Menus.html">Reorganizing Menus</a></li>

            <li><a href="Subscribing to Events.html">Subscribing to Events</a></li>
        </ul>
    </li>
</ul><!--DXMETADATA end-->
            <a name="seealsobookmark"></a>
            <!--DXMETADATA start type="FilteredItemList" scrap="CATEGORISED_LINKS" namespace="linkcategory" source="Item" filter="" NoHeader="True" NoFooter="True" format="%%replaceinquotes:value=false%%%%scrap:name=_COLLAPSIBLE_HEADER,idprefix=seealso,caption=""%%phrase:name=SeeAlso%%%%designlist:tagidentifier=seealso,itemtype=See Also%%""%%%%filtereditemlist%%</div>"--><div class="SectionHeading" id="seealsoSectionHeading"><span class="SectionHeadingIcon"><!-- --></span><span class="SectionHeadingText">See Also</span></div><div id="seealsoSectionContent" class="SectionContent"><div class="SeeAlsoLink">
<a href="Integrating PCC Releases with Your Code.html">Integrating GitHub Releases with Your Code</a></div>

</div><!--DXMETADATA end-->
        
    </div>
    <div id="FooterContent">
        <!--DXMETADATA start type="Scrap" condition="communityenabled" name="_COMMUNITY_FOOTER" --><!--DXMETADATA end -->
<!--DXMETADATA start type="Variable" name="CopyrightNotice" format="<p>&nbsp;</p><p>&nbsp;</p><hr style=""height: 1px"" /><p>%%variable%%</p>" --><p>&nbsp;</p><p>&nbsp;</p><hr style="height: 1px"><p>©2015. <a href="http://www.accusoft.com" target="_blank">Accusoft Corporation</a>. All Rights Reserved.</p><!--DXMETADATA end -->
<!--DXMETADATA start type="Variable" name="FeedbackLink" format="" --><a href="mailto:techwriting@accusoft.com?subject=Documentation Feedback: Overview of Customizing the Viewer.html">Send Feedback</a><!--DXMETADATA end-->
    </div>
    


<div id="lbOverlay" style="display: none;"></div><div id="lbCenter" style="display: none;"><div id="lbImage"><div style="position: relative;"><a id="lbPrevLink" href="#"></a><a id="lbNextLink" href="#"></a></div></div></div><div id="lbBottomContainer" style="display: none;"><div id="lbBottom"><a id="lbCloseLink" href="#"></a><div id="lbCaption"></div><div id="lbNumber"></div><div style="clear: both;"></div></div></div></body>